<%- include('partials/header') %>
<main class="container">
  <div class="card upload-form">
    <h2>Modifier votre post</h2>
<form action="/post/<%= post._id %>/edit" method="POST" enctype="multipart/form-data">
  <% if (post.images && post.images.length) { %>
    <% post.images.forEach(function(img) { %>
      <img src="<%= img %>" alt="Photo actuelle" class="post-image" style="max-width:200px;"><br>
    <% }) %>
  <% } else if (post.image) { %>
    <img src="<%= post.image %>" alt="Photo actuelle" class="post-image" style="max-width:200px;"><br>
  <% } %>
  <input type="text" name="caption" value="<%= post.caption %>" required>
  <input type="text" name="locationName" value="<%= post.location ? post.location.name : '' %>" placeholder="Nom du lieu (optionnel)">
  <input type="file" name="images" multiple>
  <button type="submit">Enregistrer les modifications</button>
</form>
    <a href="/" class="btn">Annuler</a>
  </div>
</main>
<%- include('partials/footer') %>